<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Possum" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CyberArk Conjur" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div id="wrapper">
      <div class="container-fluid">
        <div class="row">
          <%= render "shared/navigation" %>
          <div id="content" class="container">
            <%= yield %>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
